header {
    text-align: center;
    margin-right: 0;
}

.logo {
    width: 70vw;
}



.menu-hamburguesa {
    display: none;
}

@media screen and (max-width: 767px) {
.burguer-button {
    margin-top: 2vh;
    background-color: blueviolet;
    padding: 4vw;
    border-radius: 1vw;
    transition: 0.5s;
    cursor: pointer;
}

.nav-bar {
    background-color: blueviolet;
    border-radius: 1vw;
    height: 0px;
    overflow: hidden;
    width: fit-content;
    margin: auto;
    text-align: center;
    transition: 0.3s;
    padding: 0;
}

nav a {
    color: white;
    text-align: start;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    transition: 0.3s;
    font-size: 0px;
}

nav ul:first-child {
    padding-top: 0;
}

.menu-hamburguesa {
    display: none;
}

.menu-hamburguesa:checked + .nav-bar {
    height: 200px;
    padding: 0 2em 0.5em 2em;
    a {
        font-size: 16px;
        padding: 0 1em 0 1em;
    }
}

@media screen and (min-width: 768px) {
    .burguer-button {
        display: none;
    }
    
} 
}
    
@media screen and (min-width: 1024px){
header {
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo-grid nav-bar-grid";
}

.burguer-button {
    display: none;
}

.logo {
    width: 30%;
    transition: 0.3s;
    grid-area: logo-grid;
    margin-left: 3vw;
    margin-top: 0.5vh;
    padding: 10px;
}

.logo:hover {
    margin-left: 10%;
}

.section-nav-bar {
    grid-area: nav-bar-grid;

}

.nav-bar {
    padding: 0;
    display: grid;
    grid-template-columns: 9vw repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "home sobre-mi habilidades contacto proyectos";
    gap: 7px;
}

nav a {
    color: white;
    margin-top: 3vh;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    transition: 0.2s;
}

nav a:hover {
    background-color: blueviolet;
    border-radius: 3px;
}

.home {
    grid-area: home;
}

.sobre-mi{
    grid-area: sobre-mi;
}

.habilidades{
    grid-area: habilidades;
}

.contacto {
    grid-area: contacto;
}

.proyectos {
    grid-area: proyectos;
}

}

@media screen and (min-width: 1440px) {

.nav-bar a {
    margin-top: 5vh;
}
    
}